<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:si="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config />
    <context:component-scan base-package="SymulationManager"/>


    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <!-- does not necessarily have to be the same name as the bean to be exported -->
        <property name="serviceName" value="SimulationManager"/>
        <property name="service" ref="manager"/>
        <property name="serviceInterface" value="SymulationManager.remote.SimulationManager"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>

    <bean id="proxyService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://192.168.1.115:1299/ProxyServerListener"/>
        <property name="serviceInterface" value="ProxyServer.RemoteProxyServer"/>
    </bean>





</beans>